{% extends "base.html" %}
{% block title %}About this Site{% endblock %}
{% block content%}
<html>
    <body>
        <div class="container">
            <div class="p-4">
            <h2>Purpose of this Site:</h2>

                <p>Thank you for checking out Player Picker Pro! This site was designed by Pete Stewart in order to practice and demonstrate a few skills using python for data management.
                The site was built completely with python using the flask framework. The soccer player data is contained in an SQLite database that was compiled using several publicly
                available CSV data files that were constructed as an exercise in the use of SQL statements with python. For more information on how the database was built and to see
                the complete source code for this site see the links below.</p><br>
                <a href="https://github.com/pvstewar/Player_Picker_Pro">Github link for source files used to build the soccer database.</a><br>
                <a href="https://github.com/pvstewar/Soccer_stat_database">Github link for full site sourcecode.</a><br>

            <h2>About the Developer:</h2>
                <img src="/static/ps_pic.png" alt="Pete" style="width:200px;"class="rounded-pill">
                <p>Pete Stewart is an information technology professional with experience in data analytics with Python, SQL, R and various other databases and programing languages as well as cyber security,
                technology integration, CRM development, and ecommerce web development. Pete is currently in his second year as a Data Science masters student at Indiana University.
                </p>
            </div>
        </div>
    </body>
</html>
{% endblock %}