{% extends "base.html" %}
{% block title %}Player FIFA Ratings{% endblock %}
{% block content%}
<html>
   <body>
      <div class="container">
         <div class="p-4"></div>
         <form action = "{{ url_for('fifa_plyrrec') }}" method = "POST">
            <h3>Enter Player Name for FIFA ratings info</h3>
            <p>You can search for a partial name like Manchester or Man for Manchester United for example. This will return the player's ratings in the FIFA 22 video game.</p>
            Player Name<br>
            <input type = "text" name = "fpi" /></br>
            <p><input type = "submit" value = "submit" /></p>
         </form>
      </div>
   </body>
</html>
{% endblock %}