{% extends "base.html" %}
{% block title %}Player Detail View{% endblock %}
{% block content%}
<html>
   <body>
        <div class="container">
            <div class="col text-center">
                <h1>Player FIFA 22 Attribute Ratings:</h1>
                    {% for row in rows %}
                        <form action = "{{ url_for('playeradd') }}" method = "POST">
                            <label for="id">ID for {{row["FullName"]}}</label>
                            <input type="id" name="add" value="{{row["ID"]}}" required>
                            <!--<input type = "radio" name="add" value={{row["ID"]}} >Click to Add to your team</input>-->
                            <h3>Select Player slot to fill</h3>
                            <select class="form-select" name="slot" value="slot">
                            <option selected>Pick slot from the list</option>
                            <option value="player1">Player Slot 1</option>
                            <option value="player2">Player Slot 2</option>
                            <option value="player3">Player Slot 3</option>
                            <option value="player4">Player Slot 4</option>
                            <option value="player5">Player Slot 5</option>
                            <option value="player6">Player Slot 6</option>
                            <option value="player7">Player Slot 7</option>
                            <option value="player8">Player Slot 8</option>
                            <option value="player9">Player Slot 9</option>
                            <option value="player10">Player Slot 10</option>
                            <option value="player11">Goalkeeper Slot 11</option>
                            <p><input type = "submit" value = "submit" required/></p>
                            </select>
                        </form>
                    {% endfor %}
                <!--<div class="text-center">
                    {% for row in rows %}
                            <div class="text-center">
                                <img src="{{row["PhotoUrl"]}}" class="img-fluid" alt="player image">
                            </div>
                        {% endfor %}
                </div>-->
                <table class="table table-hover">
                    {% for row in rows %}
                        <tr>
                            <td>Player Name</td>
                            <td>{{row["FullName"]}}</td>
                        </tr>
                        <tr>
                            <td>Best Position</td>
                            <td>{{row["BestPosition"]}}</td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>{{row["Age"]}}</td>
                        </tr>
                        <tr>
                            <td>Height</td>
                            <td>{{row["Height"]}}</td>
                        </tr>
                        <tr>
                            <td>Weight</td>
                            <td>{{row["Weight"]}}</td>
                        </tr>
                        <tr>
                            <td>Overall Rating</td>
                            <td>{{row["Overall"]}}</td>
                        </tr>
                        <tr>
                            <td>Current Club</td>
                            <td>{{row["Club"]}}</td>
                        </tr>
                        <tr>
                            <td>Wage in Euros</td>
                            <td>{{row["WageEUR"]}}</td>
                        </tr>
                        <tr>
                            <td>Skill Moves Rating</td>
                            <td>{{row["SkillMoves"]}}</td>
                        </tr>
                        <tr>
                            <td>Shooting Rating</td>
                            <td>{{row["ShootingTotal"]}}</td>
                        </tr>
                        <tr>
                            <td>Passing Rating</td>
                            <td>{{row["PassingTotal"]}}</td>
                        </tr>
                        <tr>
                            <td>Dribbling Rating</td>
                            <td>{{row["DribblingTotal"]}}</td>
                        </tr>
                        <tr>
                            <td>Defending Rating</td>
                            <td>{{row["DribblingTotal"]}}</td>
                        </tr>
                        <tr>
                            <td>Physicality Rating</td>
                            <td>{{row["PhysicalityTotal"]}}</td>
                        </tr>
                        <tr>
                            <td>Finishing Rating</td>
                            <td>{{row["Finishing"]}}</td>
                        </tr>
                        <tr>
                            <td>Acceleration Rating</td>
                            <td>{{row["Acceleration"]}}</td>
                        </tr>
                        <tr>
                            <td>Agility Rating</td>
                            <td>{{row["Agility"]}}</td>
                        </tr>
                        <tr>
                            <td>Aggression Rating</td>
                            <td>{{row["Aggression"]}}</td>
                        </tr>
                        <tr>
                            <td>Marking Rating</td>
                            <td>{{row["Marking"]}}</td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>
{% endblock %}